<%
custom_table_id = params[:custom_table_id] || @custom_entity.custom_table_id
issue_id = params[:issue_id] || params[:custom_entity][:issue_id] || @custom_entity.issue_id rescue nil
%>

<% if @custom_entities #if after CSV Upload %>
    <% line = 1 %>
    <% if @csv_is_valid %>
        <div class="flash notice">
            <%=l(:notice_successful_create)%>
        </div>
    <% else %>
        <div class="flash error">
            <ul>
            <% @custom_entities.each do |ce| %>
                <% begin ce.validate! ; rescue => e %>
                <li><%=l("custom_tables.csv.line", line:line)%>: <%= e.message %></li>
                <% end %>
                <% line += 1 %>
            <% end %>
            </ul>
        </div>
    <% end %>
<% else # if form feed %>
    <%= labelled_form_for :custom_entity, @custom_entity, html: {id: 'new_custom_entity_form'} do |f|  %>
        <%= render partial: 'form', locals: {f: f} %>
        <%#= hidden_field_tag :back_url, custom_table_path(custom_table_id) %>
        <%= f.hidden_field :custom_table_id, value: custom_table_id %>
        
        <%= f.hidden_field :issue_id, value: issue_id %>
        <%= submit_tag l(:button_save) %>
    <% end %>
<% end %>




<%# FIXME does not work without an Issue (admin layout) %>
<% unless issue_id.nil? %>
    <% if is_user_allowed_to_table?([:upload_csv_to_table]) %>
        <h3><%=l("custom_tables.file_upload")%></h3>
        <p><%=l("custom_tables.file_upload_instructions")%></p>
        <%= link_to l("custom_tables.example_file"), csv_example_custom_tables_path(custom_table_id) %>
        <%= form_tag(upload_custom_entities_path) do %>
        <div class="box">
        <p><label><%=l(:label_attachment_new)%></label><%= render :partial => 'attachments/form' %></p>
        </div>
        <%= hidden_field_tag :custom_table_id, custom_table_id %>
        <%= hidden_field_tag "custom_entity[issue_id]", issue_id %>
        <%= submit_tag l("custom_tables.button_upload") %>
        <% end %>
    <% end %>
<% end %>