<h3 class="title"><%= l(:label_add_table) %></h3>

<%= form_for :membership, :remote => true, :url => group_table_memberships_path(@group), :method => :post do |f| %>
  <%= render :partial => 'new_form' %>
  <p class="buttons">
    <%= submit_tag l(:button_add), :name => nil %>
    <%= link_to_function l(:button_cancel), "hideModal(this);" %>
  </p>
<% end %>
